{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section card mt-3 ml-3 mr-3  border-0">
        <h3> Diagrams ZingChart</h3>
    </div>
    <div id="myChart"></div>

    <script>
        var endpoint = '{%  url 'brands-count' %} '
        var defaultData = []
        var labels = []
        $.ajax({
            method: "GET",
            url: endpoint,
            success: function (data) {
                labels = data.labels
                defaultData = data.default
                setChart()
            },
            error: function (error_data) {
                console.log("Error")
                console.log(error_data)
            }
        })


        function setChart() {
            let myConfig = {
                type: 'bar',
                title: {
                    text: 'Tobaccos by Brands',
                    fontSize: 24,
                },
                legend: {
                    draggable: true,
                },
                scaleX: {
                    // Set scale label
                    label: {text: 'Tobaccos'},
                    // Convert text on scale indices
                    labels: labels
                },
                scaleY: {
                    // Scale label with unicode character
                    label: {text: 'Counts'}
                },
                plot: {
                    // Animation docs here:
                    // https://www.zingchart.com/docs/tutorials/styling/animation#effect
                    animation: {
                        effect: 'ANIMATION_EXPAND_BOTTOM',
                        method: 'ANIMATION_STRONG_EASE_OUT',
                        sequence: 'ANIMATION_BY_NODE',
                        speed: 9,
                    }
                },
                series: [
                    {
                        // Plot 1 values, linear data
                        values: defaultData,
                        text: 'Tobaccos',
                    },
                ]
            };

            // Render Method[3]
            zingchart.render({
                id: 'myChart',
                data: myConfig,
            });
        }
    </script>

{% endblock %}
{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.zingchart.com/zingchart.min.js"></script>
{% endblock %}