{% extends "users/base.html" %}
{% load static %}
{% block content %}
    {% for brand in brands %}
        <div class="card mt-3 ml-3 mr-3 mb-3" style="max-width: 50rem;">
            <a class="text-decoration-none" href="{% url 'tobacco-brands-update' brand.pk %}">
                <div class="row no-gutters">
                    <div class="col-md-4">
                        <img src="{{ brand.Image.url }}" class="rounded-circle mx-auto d-block mt-1 mb-1"
                             alt="{{ brand.Brand }}" style="width: 9em; height: 9em;">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h5 class="card-title">{{ brand.Brand }}</h5>
                            <p class="card-text mb-2">
                                <code>Price: </code>
                                <code>{{ brand.Price }}</code>
                                <code> €</code>
                            </p>
                            <p class="card-text">
                                <code>Weight: </code>
                                <code>{{ brand.Weight }}</code>
                                <code> g</code>
                            </p>
                        </div>
                    </div>
                </div>
            </a>
        </div>
    {% endfor %}
    <div class="ml-3">
        {% if is_paginated %}
            {% if page_obj.has_previous %}
                <a class="btn btn-outline-primary mb-4" href="?page=1">First</a>
                <a class="btn btn-outline-primary mb-4 " href="?page={{ page_obj.previous_page_number }}">Previous</a>
            {% endif %}

            {% for num in page_obj.paginator.page_range %}
                {% if page_obj.number == num %}
                    <a class="btn btn-info mb-4" href="?page={{ num }}">{{ num }}</a>
                {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                    <a class="btn btn-outline-primary mb-4" href="?page={{ num }}">{{ num }}</a>
                {% endif %}
            {% endfor %}

            {% if page_obj.has_next %}
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.next_page_number }}">Next</a>
                <a class="btn btn-outline-primary mb-4" href="?page={{ page_obj.paginator.num_pages }}">Last</a>
            {% endif %}

        {% endif %}
    </div>
{% endblock content %}