{% extends "users/base.html" %}
{% load static %}
{% block content %}
    <div class="content-section mt-3 ml-3 mr-3 border-0">
        <div class="card-deck">
            <div class="card text-center" style="max-width: 35rem;">
                <img src="{% static 'images/app_tobacco/inventory_page.jpg' %}"
                     class="rounded-circle mx-auto d-block mt-3" alt="Show Inventory List"
                     style="width: 11em; height: 11em;">
                <div class="card-body">
                    <h5 class="card-title">Show Inventory</h5>
                    <a href="{% url 'tobacco-inventory-view' %}" class="btn btn-primary stretched-link">View
                        Inventory</a>
                </div>
            </div>

            <div class="card text-center" style="max-width: 35rem;">
                <img src="{% static 'images/app_tobacco/inventory_page.jpg' %}"
                     class="rounded-circle mx-auto d-block mt-3" alt="Inventory List"
                     style="width: 11em; height: 11em;">
                <div class="card-body">
                    <h5 class="card-title">Add Inventory</h5>
                    <a href="{% url 'tobacco-inventory-add' %}" class="btn btn-primary stretched-link">Add Inventory</a>
                </div>
            </div>
        </div>
    </div>
    <div class="content-section card mt-3 ml-3 mr-3  border-0">
        <table class="table table-hover" style="max-width: 72rem;">
            <thead>
            <tr class="table-primary">
                <th scope="col">Brand</th>
                <th scope="col">Tobacco</th>
                <th scope="col">Quantity</th>
            </tr>
            </thead>
            <tbody>
            {% for inv in inventory %}
                {% if inv.Tobacco.Inventory == True %}
                    <tr class="table-light">
                        <td>{{ inv.Tobacco.Brand.Brand }}</td>
                        <td>{{ inv.Tobacco.Name }}</td>
                        <td>{{ inv.Quantity }} %</td>
                    </tr>
                {% endif %}
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}