{% extends "blog/base.html" %}
{% load static %}
{% block content %}
    <article class="media content-section mt-3 ml-3 mr-3">
        <img class="rounded-circle article-img" src="{{ object.Image.url }}">
        <div class="media-body">
            <div class="article-metadata">
                <small class="text-muted">{{ object.TobaccoID.Date_Posted|date:"d F, Y" }}</small>
                <div>
                    <a class="btn btn-primary btn-sm mt-1 mb-2 mr-2" href="{% url 'tobacco-update' object.TobaccoID %}">Update
                        Tobacco</a>
                </div>
            </div>
            <p class="mb-2">
                <test class="card-title">{{ object.Name }} </test>
                <test class="ml-3">[{{ object.BrandID.Brand }}]</test>
            </p>
            <p class="card-text mb-0">
                <code class="mr-4">Taste: </code>
                <code>{{ object.Taste }}</code>
            </p>
            <p class="card-text">
                <code class="mr-2">Comment: </code>
                <code>{{ object.Comment }}</code>
            </p>
            <hr class="border-secondary mb-2 mt-2">
            <p class="card-text mb-0">
                <code>Inventory: </code>
                <code class="mr-2">{{ object.Inventory }}</code>
            </p>
            <p class="card-text mb-0">
                <code class="mr-2">Wishlist: </code>
                <code>{{ object.Wish }}</code>
            </p>
            <hr class="border-secondary mb-2 mt-2">
            <p class="card-text mb-0">
                <code class="mr-4">Taste: </code>
                <code>{{ object.QTaste }}</code>
            </p>
            <p class="card-text mb-0">
                <code class="mr-lg-4">Smoke: </code>
                <code>{{ object.QSmoke }}</code>
            </p>
            <p class="card-text">
                <code class="mr-5">Cut:</code>
                <code>{{ object.QCut }}</code>
            </p>
        </div>
    </article>
{% endblock content %}