{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- Required meta tags -->
    {% block js %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="{% static 'css/minty.css' %}">
    <link rel="shortcut icon" type="image/png" href="/static/images/favicon5.ico"/>

    {% if title %}
        <title>Schikofsky Lab - {{ title }}</title>
    {% else %}
        <title>Schikofsky Lab</title>
    {% endif %}
</head>
<body>
<div class="d-flex" id="wrapper">
    <!-- Sidebar -->
    <div class="bg-light border-right" id="sidebar-wrapper">
        <div class="sidebar-heading mt-0 mb-0 pb-1 pt-1 mr-0 pr-0">
            <img src="/static/images/Logo2.png" class="mt-0 mb-0" alt="Logo" style="width: 8em; height: 2em;">
        </div>
        <div class="list-group list-group-flush">
            <a href="{% url 'home-start' %}" class="list-group-item list-group-item-action bg-light">Home</a>
            <a href="{% url 'tobacco-home' %}" class="list-group-item list-group-item-action bg-light">Tobacco</a>

            <a href="{% url 'tobacco-brands-home' %}"
               class="list-group-item list-group-item-action bg-light font-weight-light">Brands</a>
            <a href="{% url 'tobacco-list-home' %}"
               class="list-group-item list-group-item-action bg-light font-weight-light">Tobacco List</a>
            <a href="{% url 'tobacco-inventory-home' %}"
               class="list-group-item list-group-item-action bg-light font-weight-light">Inventory</a>
            <a href="{% url 'tobacco-wishlist-home' %}"
               class="list-group-item list-group-item-action bg-light font-weight-light">Wishlist</a>

            <a href="{% url 'lab-home' %}" class="list-group-item list-group-item-action bg-light">Lab</a>
        </div>
    </div>

    <!-- Page Content -->
    <div id="page-content-wrapper">

        <nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
            <button class="btn btn-primary" id="menu-toggle">Toggle Menu</button>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
                    <li class="nav-item active">
                        <a class="nav-link" href="{% url 'home-start' %}">Home <span
                                class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'profile' %}">Profile</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Logout</a>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="mt-3 mb-0 ml-3 mr-3">
            {% if messages %}
                {% for message in messages %}
                    <div class="alert alert-{{ message.tags }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        </div>
        {% block content %}{% endblock %}


        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
                integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
                crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
                integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
                crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
                integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
                crossorigin="anonymous"></script>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>


        <script>
            $("#menu-toggle").click(function (e) {
                e.preventDefault();
                $("#wrapper").toggleClass("toggled");
            });
        </script>

</body>
</html>